#navbar {
    display: block;
    align-items: center;
    position: relative;
    top: 0px;
    overflow: visible;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: rgb(12, 102, 236);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;

}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 1px 7px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/*************************************social media*************************************/

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #8a3ab9;
    color: white;
}