.carousel .card {
    background: #222;
    border-radius: 3px;
    padding: 10px 10px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    display: inline-block;
}

.carousel .card:hover {
    background: rgb(24, 82, 243);
}

.carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.carousel .card:hover .box {
    transform: scale(1.05);
}

.carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid blue;
    transition: all 0.3s ease;
}

.carousel a {
    background: chocolate;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px;
}
